pkgbase = calligra-git
	pkgdesc = A set of applications for productivity and creative usage
	pkgver = 3.3.89_r102346.ga0726e34
	pkgrel = 1
	url = https://www.calligra-suite.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	makedepends = boost
	makedepends = eigen
	makedepends = extra-cmake-modules
	makedepends = kcalendarcore
	makedepends = kdesignerplugin
	makedepends = kdoctools
	makedepends = libakonadi
	makedepends = libetonyek
	makedepends = libgit2
	makedepends = libvisio
	makedepends = libwpg
	makedepends = libwps
	makedepends = marble-common
	makedepends = pstoedit
	makedepends = vc
	depends = cauchy
	depends = gcc-libs
	depends = glibc
	depends = gsl
	depends = imath
	depends = plasma-activities
	depends = kcontacts
	depends = kcoreaddons
	depends = kdelibs4support
	depends = kdiagram
	depends = kcmutils
	depends = kinit
	depends = knotifyconfig
	depends = kross
	depends = kwidgetsaddons
	depends = libodfgen
	depends = libspnav
	depends = poppler-qt6
	depends = qca-qt6
	depends = qt6-base
	optdepends = kirigami2-git: for Calligra Gemini
	optdepends = libetonyek: Apple Keynote import filter
	optdepends = libgit2: Calligra Gemini git plugin
	optdepends = libvisio: Microsoft Visio import filter
	optdepends = libwpg: Corel WordPerfect Graphics image importer
	optdepends = libwps: Microsoft Works file word processor format import
	optdepends = poppler: PDF to SVG filter
	optdepends = pstoedit: EPS to SVG filter
	optdepends = qt5-quickcontrols: for Calligra Gemini
	optdepends = qt5-webengine: for Calligra Gemini
	provides = calligra
	conflicts = calligra
	source = git+https://github.com/KDE/calligra.git
	source = calligra-openexr3.patch
	source = 068cd9ae.patch
	source = 2ac46db5.patch
	source = 62f51070.patch
	sha256sums = SKIP
	sha256sums = 96fbe4f06bf184e60ff653a1574f0f0523af5b4672ced2a501cd54642961dffe
	sha256sums = 4516d15421209e5d8c8b5008140dbcb1eefa96b0e96e0da49b343e1799a8cefd
	sha256sums = c88e6d7a1f67c1b5413b624aa67fca2841205fdf4201f6682f69bae737582922
	sha256sums = 8a94e076c09887ff0741da3276ce4652063351b884c66d4c9ba0cde431dbb867

pkgname = calligra-git
