pkgbase = roxterm
	pkgdesc = Tabbed, VTE-based terminal emulator
	pkgver = 3.17.2
	pkgrel = 1
	url = https://github.com/realh/roxterm
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = docbook-xsl
	makedepends = xmlto
	makedepends = po4a
	makedepends = cmake
	makedepends = libsm
	makedepends = imagemagick
	makedepends = librsvg
	makedepends = itstool
	depends = dbus-glib
	depends = vte3
	depends = hicolor-icon-theme
	optdepends = vte3-kinetic: Kinetic Scrolling in Terminal
	source = roxterm-3.17.2.tar.gz::https://github.com/realh/roxterm/archive/3.17.2.tar.gz
	sha512sums = ffad0711ada38a938318275d140de5a4b54a130c5abab748da89d3d76807a3d34537c044bfd09ed0a7d65964952331969d047d374849f8b6179ca41c02846609

pkgname = roxterm
